name: Update GeoJSON

on:
  schedule:
    - cron: '0 0 * * *' # every day at midnight UTC
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Download GeoJSON
        run: curl -o Public_map_annual_complete.geojson "https://geozonekortgeoserver.geozoneappext.p.azurewebsites.net/geoserver/gpd/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=gpd:public_map_annual_complete&outputFormat=application%2Fjson&CQL_FILTER=ownership=%27Cerius-Radius%20A%2FS%27"

      - name: Commit & Push
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add Public_map_annual_complete.geojson
          git commit -m "Update GeoJSON from GeoServer" || echo "No changes to commit"
          git push https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git HEAD:main

        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
